In [49]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 

df = pd.read_excel('Giraffe raw data.xlsx')
df

,Year,Location,Floor,Building,Quartier,Local,Desk,OfficePosition,OfficeManager,FiliereName,TeamLevel1,TeamLevel2,ManagerTeamLevel1,ManagerTeamLevel2,DianaTeamInGiraffe,CrapullTeamToday,SourcingType,UB,UT,Surname,Gender,Role,RoleConso,Shadow,seniority,NewResourceID,NewResourceStatus,HiringPlannedChannel,HiringPriority,ValidationDateByCMIBoard,HiringInitiative,ReasonOfTheHireRequest,TechnicalSkillsStatus,ResourceCostEuro,PreviousResourceCostEuro,ValueDateNewCost,ReplacedUT,LeversOfSavings,QuantitativeSavings,QualitativeSavings,CommentsOnSavings,WorkingForCaibFor,IncurrentpositionFor,IsInternalMobility,IsCriticalResource,BelongsToCriticalTeamSize,EntryDateinCACIB,VintageDerogationDate,VintageDerogationValidation,OperatingMode,DecemberNminus1,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Expertise,Allocation,ResourceCostTTNREuro,ResourceCostBracket,DecNminus1,JanN,FebN,MarN,AprN,MayN,JunN,JulN,AugN,SepN,OctN,NovN,DecN,FromDate,EndDate,CustomColumn1,CustomColumn2,CandidateName,ContractTermStatus,ApplicationName,ProjectName,DeliveryTeam,ISAPSection,SupportShiftDetails,Comments,CustomColumn11,ISAPTeam,CacibLaptop,LaptopComments,CustomColumn15,CustomColumn16,DeliveryLead,CustomColumn18,CustomColumn19,CustomColumn20,StaffPresence,TypeOfContractId,TypeOfContract,Supplier,ContractorContractEndDate,VintageDate,HREJobTitle,CustomColumn21,CustomColumn22,CustomColumn23,CustomColumn24,Locker,MovisReadiness,MovisConstraint,CMIMgt3,CMIMgt4,CMIMgt5,EndOfContractStatus,ReasonForStaffIncrease,BuildPercentage,RunPercentage,DianaTeamInDiana,ManagerUT,ManagerName,InActiveDate,ExtractDate
0,2024,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Architecture & Innovation,Architecture & Strategy,NaN,NaN,NaN,NaN,NaN,Contractor,30016.0,TBD1693,2024_A&I_AI-REFERENT-SE_RAMPUP,TBD,Functional Architect,Functional,False,2 - Intermediate,TBD,NaN,NaN,P1,NaN,Other,Job Creation,NaN,460,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,100,460.0,B,0.00,0.00,0.00,0.00,0.00,0.00,8.28,8.28,8.28,8.28,8.28,8.28,8.28,04/06/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transverse Towers,Asia,Pending jobvite creation,NaN,Architecture & Innovation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To join,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,15/02/2024 07:59 AM
1,2024,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Architecture & Innovation,Architecture & Strategy,NaN,NaN,NaN,NaN,NaN,Contractor,30016.0,TBD1694,2024_A&I_TECH-ARCH_RAMPUP,TBD,Functional Architect,Functional,False,2 - Intermediate,TBD,NaN,NaN,P0,NaN,Other,Job Creation,NaN,460,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,100,460.0,B,0.00,0.00,0.00,0.00,0.00,8.28,8.28,8.28,8.28,8.28,8.28,8.28,8.28,07/05/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transverse Towers,Asia,Pending jobvite creation,NaN,Architecture & Innovation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To join,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,15/02/2024 07:59 AM
2,2024,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Architecture & Innovation,Cloud & DevOps,NaN,NaN,NaN,NaN,NaN,Contractor,30016.0,TBD1695,2024_A&I_CCOE_RAMPUP,TBD,Functional Architect,Functional,False,2 - Intermediate,TBD,NaN,NaN,P0,NaN,Other,Job Creation,NaN,460,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,100,460.0,B,0.00,0.00,0.00,0.00,0.00,8.28,8.28,8.28,8.28,8.28,8.28,8.28,8.28,07/05/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transverse Towers,Asia,Pending jobvite creation,NaN,Architecture & Innovation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To join,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,15/02/2024 07:59 AM
3,2024,Paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Architecture & Innovation,Innovation,NaN,NaN,NaN,NaN,CMI Archi - Innovation,Internal Permanent,1841.0,TBD1205,2023_Architecture_InnovationLead_Intermediate,TBD,Technical Architect,Technical,False,2 - Intermediate,TBD,4 - Looking for candidates,NaN,P1,NaN,Other,Job Creation,NaN,750,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,100,750.0,D,0.00,0.00,0.00,0.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,12.00,01/04/2024,31/12/2024,Newly created post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To join,0,NaN,NaN,NaN,NaN,Application Architect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,30,NaN,NaN,NaN,NaN,15/02/2024 07:59 AM
4,2024,Paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Architecture & Innovation,Architecture & Strategy,NaN,NaN,NaN,NaN,CMI Archi - Architecture & Strategy,Internal Permanent,1841.0,TBD1733,2023_Architecture_ Fonctionnel_1_Senior,TBD,Functional Architect,Functional,False,1 - Senior,0000,NaN,NaN,P1,NaN,Other,Employee Replacement,NaN,750,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,False,False,False,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,NaN,100,750.0,D,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,12.00,30/12/2024,31/12/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To join,0,NaN,NaN,NaN,NaN,Application Architect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,100,NaN,NaN,NaN,NaN,15/02/2024 07:59 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1857,2024,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Treasury / ALM,Delivery,NaN,"ROMIEUX, Edme-Dominique","ROMIEUX, Edme-Dominique",GITHK-CMI1-TSY DELIVERY,NaN,Internal Permanent,1001.0,UT0UE3,"CHENG, Edmond",M,Support Analyst,Support,False,1 - Senior,NaN,NaN,NaN,Other,NaN,Other,Job Creation,NaN,429,0.0,NaN,NaN,NaN,0.0,0.0,NaN,>5y,3-5y,False,False,False,03/09/2004,NaN,NaN,NaN,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.00,NaN,50,429.0,B,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,0.00,01/12/2020,30/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Present,0,NaN,NaN,NaN,NaN,Support Analyst,non,NaN,NaN,NaN,NaN,Movis connection successfully tested allowing ...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,GITHK-CMI1-TSY DELIVERY,UT0UE2,"NG, Valerius",NaN,15/02/2024 07:59 AM
1858,2024,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Treasury / ALM,Delivery,NaN,"ROMIEUX, Edme-Dominique","ROMIEUX, Edme-Dominique",GITHK-CMI1-TSY DELIVERY,NaN,Internal Permanent,1001.0,UT0XGN,"TAM, Sannic",M,Support Analyst,Support,False,1 - Senior,NA-allocationChange,NaN,Other,Other,NaN,Other,Employee Replacement,NaN,429,0.0,NaN,NaN,NaN,0.0,0.0,NaN,>5y,1-2y,False,False,False,17/02/2005,NaN,NaN,NaN,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,NaN,100,429.0,B,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,0.00,01/01/2023,30/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Present,0,NaN,NaN,NaN,NaN,Developer,non,NaN,NaN,NaN,NaN,Movis connection successfully tested allowing ...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,GITHK-CMI1-TSY DELIVERY,UT0UE2,"NG, Valerius",NaN,15/02/2024 07:59 AM
1859,2024,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Treasury / ALM,Support,NaN,NaN,NaN,GITHK-CMI1-TSY DELIVERY,NaN,Internal Permanent,1001.0,UT0UE3,"CHENG, Edmond",M,Support Analyst,Support,False,1 - Senior,NaN,NaN,NaN,Other,NaN,Other,Job Creation,NaN,429,0.0,NaN,NaN,NaN,0.0,0.0,NaN,>5y,3-5y,False,False,False,03/09/2004,NaN,NaN,NaN,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.00,NaN,50,429.0,B,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,3.86,0.00,01/12/2020,30/11/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Present,0,NaN,NaN,NaN,NaN,Support Analyst,non,NaN,NaN,NaN,NaN,Movis connection successfully tested allowing ...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,GITHK-CMI1-TSY DELIVERY,UT0UE2,"NG, Valerius",NaN,15/02/2024 07:59 AM
1860,2024,Hong Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Treasury / ALM,Support,NaN,NaN,NaN,GITHK-CMI1-TSY DELIVERY,NaN,Internal Permanent,1001.0,UT3E3Q,"JHAMNANI, Yash",M,Support Analyst,Support,False,3 - Junior,NaN,NaN,Internalization,P1,NaN,Other,Employee Replacement,NaN,429,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,<1y,False,False,False,NaN,NaN,NaN,NaN,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,NaN,100,429.0,B,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,7.72,06/06/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Present,0,NaN,NaN,NaN,NaN,Support Analyst,NaN,NaN,NaN,NaN,NaN,Movis connection successfully tested allowing ...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,GITHK-CMI1-TSY DELIVERY,UT0UE3,"CHENG, Edmond",NaN,15/02/2024 07:59 AM
1861,2024,Singapore,6,NaN,NaN,NaN,NaN,NaN,NaN,Treasury / ALM,NaN,NaN,"MATHE, Ludovic","QUERRIEN, Yannick",ISAP-BLI-CMI-FO-BO Product-RSF/Bonds,NaN,Internal Permanent,30016.0,UT2GPN,"MAZOUZ, Kamel",M,IT Manager,Management,False,1 - Senior,NaN,7 - Position fulfilled,Other,Other,NaN,Other,Job Creation,NaN,464,0.0,NaN,NaN,NaN,0.0,0.0,NaN,>5y,1-2y,False,False,False,14/11/2017,NaN,NaN,NaN,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,0.12,NaN,12,464.0,B,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,16/08/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FO-BO Product,NaN,NaN,NaN,ALM/Treasury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Present,0,NaN,NaN,NaN,NaN,IT Manager,NaN,NaN,NaN,NaN,NaN,"Movis connection NOT successfully tested, to i...",Password Expired.,NaN,NaN,NaN,NaN,NaN,11,89,ISAP-BLI-CMI-FO-BO Product-RSF/Bonds,UT13Y9,"TRANVANKEOITH, Thidahack",NaN,15/02/2024 07:59 AM

In [50]:
df.isnull().count()

Year                1862
Location            1862
Floor               1862
Building            1862
Quartier            1862
                    ...
DianaTeamInDiana    1862
ManagerUT           1862
ManagerName         1862
InActiveDate        1862
ExtractDate         1862
Length: 128, dtype: int64

In [51]:
df.isnull().sum()

Year                   0
Location               0
Floor                727
Building             944
Quartier             950
                    ...
DianaTeamInDiana     305
ManagerUT            244
ManagerName          251
InActiveDate        1775
ExtractDate            0
Length: 128, dtype: int64

In [52]:
total_rows_filled = df.isnull().count() - df.isnull().sum()
total_rows_filled

Year                1862
Location            1862
Floor               1135
Building             918
Quartier             912
                    ...
DianaTeamInDiana    1557
ManagerUT           1618
ManagerName         1611
InActiveDate          87
ExtractDate         1862
Length: 128, dtype: int64

In [53]:
df.describe()

,Year,UB,ResourceCostEuro,PreviousResourceCostEuro,QuantitativeSavings,QualitativeSavings,DecemberNminus1,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Allocation,ResourceCostTTNREuro,DecNminus1,JanN,FebN,MarN,AprN,MayN,JunN,JulN,AugN,SepN,OctN,NovN,DecN,ContractTermStatus,TypeOfContractId,CustomColumn24,ReasonForStaffIncrease,BuildPercentage,RunPercentage
count,1862.0,1717.000000,1862.000000,1670.000000,1670.000000,1670.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,1862.000000,0.0,1862.0,0.0,0.0,1862.000000,1862.000000
mean,2024.0,10204.364007,608.796992,7.269461,0.071257,0.029341,0.743491,0.757454,0.762395,0.787637,0.794887,0.797573,0.800258,0.795693,0.787100,0.824157,0.825231,0.823083,0.804103,96.704082,625.368469,8.391053,8.489463,8.465886,8.765591,8.806364,8.819817,8.843985,8.760999,8.627197,8.721590,8.722207,8.711547,8.511950,NaN,0.0,NaN,NaN,53.201396,26.927497
std,0.0,8997.168106,233.200187,76.749008,4.708299,1.287252,0.425259,0.415981,0.413018,0.395845,0.390986,0.388945,0.386875,0.390549,0.396912,0.367254,0.366303,0.368200,0.384540,14.412737,246.981685,6.046229,6.001458,6.002921,5.907491,5.851519,5.825174,5.826213,5.830772,5.848841,5.783665,5.770718,5.790630,5.895326,NaN,0.0,NaN,NaN,46.343979,40.316155
min,2024.0,1000.000000,0.000000,0.000000,-132.000000,-16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.0,NaN,NaN,0.000000,0.000000
25%,2024.0,3284.000000,480.000000,0.000000,0.000000,0.000000,0.400000,0.500000,0.700000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,489.655000,0.000000,0.000000,0.000000,2.075000,2.320000,3.090000,3.110000,2.320000,0.787500,2.320000,2.382500,2.320000,0.000000,NaN,0.0,NaN,NaN,0.000000,0.000000
50%,2024.0,9356.000000,650.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,658.980000,9.710000,9.710000,9.710000,9.870000,9.880000,9.980000,9.980000,9.880000,9.870000,9.870000,9.870000,9.870000,9.790000,NaN,0.0,NaN,NaN,70.000000,0.000000
75%,2024.0,9808.000000,737.750000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,754.000000,12.980000,12.990000,12.990000,13.180000,13.180000,13.180000,13.180000,13.180000,12.990000,12.990000,12.990000,12.990000,12.990000,NaN,0.0,NaN,NaN,100.000000,50.000000
max,2024.0,30016.000000,1870.000000,1312.000000,126.000000,49.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,1956.020000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,35.210000,NaN,0.0,NaN,NaN,100.000000,100.000000

In [54]:
print(df.columns.tolist())

['Year', 'Location', 'Floor', 'Building', 'Quartier', 'Local', 'Desk', 'OfficePosition', 'OfficeManager', 'FiliereName', 'TeamLevel1', 'TeamLevel2', 'ManagerTeamLevel1', 'ManagerTeamLevel2', 'DianaTeamInGiraffe', 'CrapullTeamToday', 'SourcingType', 'UB', 'UT', 'Surname', 'Gender', 'Role', 'RoleConso', 'Shadow', 'seniority', 'NewResourceID', 'NewResourceStatus', 'HiringPlannedChannel', 'HiringPriority', 'ValidationDateByCMIBoard', 'HiringInitiative', 'ReasonOfTheHireRequest', 'TechnicalSkillsStatus', 'ResourceCostEuro', 'PreviousResourceCostEuro', 'ValueDateNewCost', 'ReplacedUT', 'LeversOfSavings', 'QuantitativeSavings', 'QualitativeSavings', 'CommentsOnSavings', 'WorkingForCaibFor', 'IncurrentpositionFor', 'IsInternalMobility', 'IsCriticalResource', 'BelongsToCriticalTeamSize', 'EntryDateinCACIB', 'VintageDerogationDate', 'VintageDerogationValidation', 'OperatingMode', 'DecemberNminus1', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Expertise', 'Allocation', 'ResourceCostTTNREuro', 'ResourceCostBracket', 'DecNminus1', 'JanN', 'FebN', 'MarN', 'AprN', 'MayN', 'JunN', 'JulN', 'AugN', 'SepN', 'OctN', 'NovN', 'DecN', 'FromDate', 'EndDate', 'CustomColumn1', 'CustomColumn2', 'CandidateName', 'ContractTermStatus', 'ApplicationName', 'ProjectName', 'DeliveryTeam', 'ISAPSection', 'SupportShiftDetails', 'Comments', 'CustomColumn11', 'ISAPTeam', 'CacibLaptop', 'LaptopComments', 'CustomColumn15', 'CustomColumn16', 'DeliveryLead', 'CustomColumn18', 'CustomColumn19', 'CustomColumn20', 'StaffPresence', 'TypeOfContractId', 'TypeOfContract', 'Supplier', 'ContractorContractEndDate', 'VintageDate', 'HREJobTitle', 'CustomColumn21', 'CustomColumn22', 'CustomColumn23', 'CustomColumn24', 'Locker', 'MovisReadiness', 'MovisConstraint', 'CMIMgt3', 'CMIMgt4', 'CMIMgt5', 'EndOfContractStatus', 'ReasonForStaffIncrease', 'BuildPercentage', 'RunPercentage', 'DianaTeamInDiana', 'ManagerUT', 'ManagerName', 'InActiveDate', 'ExtractDate']

In [55]:
null_counts_by_location = df.groupby('Location').apply(lambda y:y.isnull().sum(axis=0))

print(null_counts_by_location.T)

Location          France (excl.Paris)  Hong Kong  India  London  New York  \
Year                                0          0      0       0         0
Location                            0          0      0       0         0
Floor                              65         55     16      75        40
Building                           65         57     20     150        45
Quartier                           65         57     20     150        45
...                               ...        ...    ...     ...       ...
DianaTeamInDiana                   65          8      5      10         2
ManagerUT                          65          8      0       7         1
ManagerName                        65          8      0      10         3
InActiveDate                       65         57     15     147        43
ExtractDate                         0          0      0       0         0

Location          Paris  Singapore  Spain  Tokyo
Year                  0          0      0      0
Location              0          0      0      0
Floor               366        104      2      4
Building            333        268      2      4
Quartier            339        268      2      4
...                 ...        ...    ...    ...
DianaTeamInDiana    186         29      0      0
ManagerUT           136         27      0      0
ManagerName         137         28      0      0
InActiveDate       1176        266      2      4
ExtractDate           0          0      0      0

[128 rows x 9 columns]

In [56]:
# Calculate null values and filled rows for each column
pd.set_option('display.max_columns', None)
null_counts_by_location_per_column = df.groupby('Location').apply(lambda y: pd.Series({
    'Total_Null_Values': y.isnull().sum(),
    'Total_Filled_Rows': len(y) - y.isnull().sum()
}))

print(null_counts_by_location_per_column)

                                                     Total_Null_Values  \
Location
France (excl.Paris)  Year                 0
Location             0
...
Hong Kong            Year                 0
Location             0
...
India                Year                 0
Location             0
...
London               Year                  0
Location              ...
New York             Year                 0
Location             0
...
Paris                Year                   0
Location             ...
Singapore            Year                  0
Location              ...
Spain                Year                0
Location            0
Fl...
Tokyo                Year                0
Location            0
Fl...

                                                     Total_Filled_Rows
Location
France (excl.Paris)  Year                65
Location            65
...
Hong Kong            Year                57
Location            57
...
India                Year                20
Location            20
...
London               Year                151
Location            15...
New York             Year                45
Location            45
...
Paris                Year                1247
Location            1...
Singapore            Year                271
Location            27...
Spain                Year                2
Location            2
Fl...
Tokyo                Year                4
Location            4
Fl...

In [57]:
sorted_values = df.isnull().sum().sort_values(ascending=False)
topnullvalues = sorted_values.head(10)
topnullvalues

CustomColumn24              1862
ContractTermStatus          1862
ReasonForStaffIncrease      1862
ValidationDateByCMIBoard    1860
OperatingMode               1855
CustomColumn16              1852
CMIMgt3                     1852
CustomColumn19              1850
ReplacedUT                  1850
ValueDateNewCost            1850
dtype: int64

In [58]:
top10nullcolumns = pd.DataFrame({'Column':sorted_values.head(20).index , 'Null Count':sorted_values.head(20).values})
top10nullcolumns

                      Column  Null Count
0             CustomColumn24        1862
1         ContractTermStatus        1862
2     ReasonForStaffIncrease        1862
3   ValidationDateByCMIBoard        1860
4              OperatingMode        1855
5             CustomColumn16        1852
6                    CMIMgt3        1852
7             CustomColumn19        1850
8                 ReplacedUT        1850
9           ValueDateNewCost        1850
10     TechnicalSkillsStatus        1849
11             CustomColumn2        1848
12       EndOfContractStatus        1846
13           LeversOfSavings        1844
14         CommentsOnSavings        1837
15               CacibLaptop        1824
16             CandidateName        1813
17            CustomColumn11        1800
18            CustomColumn15        1795
19              InActiveDate        1775

In [59]:
flattened_null_vals = null_counts_by_location.stack().reset_index()
flattened_null_vals.columns = ['Location','Column','Null Count']
sorted_null_values = flattened_null_vals.sort_values(by = 'Null Count',ascending=False).head(128)
sorted_null_values

    Location                    Column  Null Count
760    Paris    ReasonForStaffIncrease        1247
725    Paris        ContractTermStatus        1247
752    Paris            CustomColumn24        1247
689    Paris             OperatingMode        1245
669    Paris  ValidationDateByCMIBoard        1245
..       ...                       ...         ...
485   London            CustomColumn20         151
482   London              DeliveryLead         151
481   London            CustomColumn16         151
479   London            LaptopComments         151
478   London               CacibLaptop         151

[128 rows x 3 columns]

In [60]:
null_columns = df.isnull().sum()

In [61]:
sorted_null_values.to_excel("sorted_null_values.xlsx")
null_counts_by_location.T.to_excel("null_counts_by_location.xlsx")
null_columns.to_excel("null_columns.xlsx")
null_counts_by_location_per_column.to_excel("null_counts_by_location_per_column.xlsx")